<div class="recipe-container">
    <p class="message">Recipe works!</p>
    
    <div class="recipe-detail">
        <h2 class="recipe-title">{{recipe.title}}</h2>
        <p class="recipe-ingredient"><strong>Ingredients:</strong> {{recipe.ingredient}}</p>
        <div class="recipe-image">
            <span *ngIf="(recipe.image=='none')||(recipe.image=='')||(recipe.image==null); then noIm else Im"></span>
            <ng-template #Im>
                <img [src]="recipe.image" alt="{{recipe.title}}">
            </ng-template>
            <ng-template #noIm>
                <p>No Image</p>
            </ng-template>
        </div>
        <p class="recipe-instruction"><strong>Instructions:</strong> {{recipe.instruction}}</p>

        <div class="button-group">
            <button type="button" class="delete-button" (click)="onDelete()">Delete</button>
            <button type="button" class="cancel-button" routerLink="">Cancel</button>
        </div>
    </div>
</div>
